@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {   
  cursor: pointer;
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { 
  padding: 30px 0px;
  background-color: #363636;
}


header .flex-container {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding-left: 48px;
  padding-top: 3px;
  color: #9a9a9a;
  font-size: 14px;
  text-transform: uppercase;
}

nav a:hover, .active { color: #69ad31; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
p, address, .contact-info a { color: #666; }

.banner {
  background: url('https://via.placeholder.com/1284x729');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner p, .our-services p, .testimonial p { color: #fff; }

.banner-one {
  padding: 310px 0px 200px 0px;
  text-align: center;
  color: #fff;
}

.banner-one h2 {
  font:55px bold;
  text-transform: uppercase;
}

.banner-one p { 
  margin: 20px 28%;
  font-size: 18px;
}
 .banner-one a {
  width: 138px;
  padding: 15px 2px;
  border-radius:6px;
  margin-top: 30px;
  background-color: #69ac31;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
 }

.landscaper ul {
  margin-top: 115px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

.landscaper li:not(:first-child) { flex-basis:  24%; }

.landscaper li:first-child { 
  flex-basis: 48%;
  text-align:justify;
  }

.landscaper p{ 
  margin-top: 30px;
  font-size: 15px;
  line-height: 20px;
}

.landscaper a { 
  margin-top: 52px;
  padding: 20px;
  border-radius: 6px;
  background-color: #69ac31;
  color: #fff;
  text-transform: uppercase;
}

.landscaper h3 { 
  margin-bottom: 24PX;
  font-size: 35px;
}

.landscaper h3 span { 
  color: #6eab51;
  text-transform:capitalize;
}

.landscaper h4{
  margin-top:24px;
  font-size:22px;
}

.our-services { 
  background-color: #69ac31;
  color: #fff;
  text-align: center;
}

.our-services h4 {
 padding-top: 120px;
 margin-bottom: 23px;
 font-size: 35px;
 text-transform: capitalize;
}

.short-line {
  width: 67px;
  padding: 1px 0px;
  margin: 0 auto;
  background-color: #fff;
}

.customp {
  margin-top: 25px;
  margin-bottom: 85px;
  font-size: 18px;
}

.our-services ul {
  padding-bottom: 150px;
  margin-bottom:100px;
  display: flex;
  justify-content: space-between;
}

.our-services li{ width: 23%; }

.our-services img {
  width: 75%;
  border-radius: 50%;
  border: 10px solid #78b546;
}

.our-services h5 {
  margin: 25px 0px;
  font-size:22px;
  text-transform: capitalize;
}

.our-services li p{
  padding: 0px 3px;
  font-size: 14px;
}

.project-gallery { 
  margin-bottom: 112px;
  text-align: center;
}

.project-gallery .short-line, .contact-us .short-line, .landscaper .short-line { background-color: #69ac31; }

.landscaper .short-line { margin: 0 }

.project-gallery h5 {
  font-size: 36px;
  margin-bottom: 20px;
}

.project-gallery p:first-of-type { 
  margin:25px 0px 60px 0px;
  font-size: 18px;
}
.project-gallery-menu { margin-bottom: 50px; }

.project-gallery-menu a {
  padding: 10px 10px;
  margin-left: 9px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #e5e5e5;
  color: #666;
}

.project-gallery-menu .active, .project-gallery-menu a:hover { 
  background-color: #69ac31;
  color: #fff;
}

.project-gallery ul:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-gallery ul:last-of-type li { margin-bottom: 32px; }

.testimonial { 
  padding: 120px 0px;
  color: #fff;
  background: linear-gradient(#69ad31,#69ad31), url('https://via.placeholder.com/1284x500.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center; 
}

.testimonial h6 { 
  margin-bottom: 24px;
  font-size: 35px;
}

.testimonials-block p:first-of-type {
  padding: 0px 105px; 
  margin: 75px 0px 25px 0px;
  line-height: 30px;
}

.testimonials-block p:last-of-type { text-transform: capitalize; }

.testimonials-block li:not(:first-child) { display: none; }

.testimonials-block li:last-child span { text-transform: uppercase; }

.slider-dots a {
  width: 12px;
  height: 12px;
  margin: 30px 12px 0px 0px;
  border-radius: 50%;
  background:#fff;
}

.contact-us { 
  padding: 102px 0px 90px 0px;
  background-color: #f6f6f6;
  text-align: center;
}

.contact-us h6 {
  margin-bottom: 25px;
  font-size: 32px;
  text-transform: capitalize;
}

.contact-us .short-line + p {
  margin: 22px 0px 45px 0px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-content:center;
}

.contact-info p:first-of-type {
  font-size: 18px;
  margin: 10px 0px;
  color: #000;
  text-transform: uppercase;
}

.contact-info p, .contact-us address { 
  padding: 0px 15px;
  line-height: 20px;
 }

.leavemsg { 
  margin: 40px 0px;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.contactform { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
}

.contactform li{ margin-bottom: 17px; }

.contactform li:first-child { 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.form-group { 
  margin-left: 5%;
}
.contactform input[type="text"], 
.contactform input[type="email"] { padding: 12px 20%; }

textarea { 
  width: 589px;
  height: 120px;
  margin-left: 3%;
  /* padding: 30px 15%; */
}

input[type="submit"] { 
  padding: 15px;
  border-radius: 6px;
  background-color: #69ac31;
  color: #fff;
  text-transform: uppercase;
 }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 40px 0px 30px 0px;
  background-color:#363636;
  text-align: center;
}

.footer-social { margin-bottom: 48px; }

.footer-social .fa{
 padding:10px;
 margin-left: 2%;
 border-radius: 50%;
 background-color: #464646;
 color: #68aa30;
 font-size: 20px;
}

.footer-social li { margin-left: 3%; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  